<%- include('../includes/head.ejs') %>

<body id="page-top">

<%- include('./nav.ejs') %>


<div class="container-fluid p-0">

    <%- include('./personal-information.ejs') %>

    <hr class="m-0">

    <%- include('./resume-section.ejs') %>

    <hr class="m-0">

    <%- include('./education.ejs') %>

    <hr class="m-0">

    <%- include('./skills.ejs') %>

    <hr class="m-0">

    <%- include('./interests.ejs') %>

    <hr class="m-0">

    <%- include('./awards-sertifications.ejs') %>

</div>

<!-- Bootstrap core JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>
